/****
auqi apenas estão definições de cor para cada unidade orgânica; tudo o resto está no tema da up (definições de cor neutras ficam também no tema up)

main-color: #cdb700;
light: #FFE401;
dark: #bca800;
darker: #897b00;
****/



/* ++ CABEÇALHO ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

#page-header-wrap {
 	background: #cdb700;
 	background: -webkit-linear-gradient(45deg, #EBD138, #cbb014);
 	background: -moz-linear-gradient(45deg, #EBD138, #cbb014); 
 	background: -o-linear-gradient(45deg, #EBD138, #cbb014); 
 	background: -ms-linear-gradient(45deg, #EBD138, #cbb014); 
 	background: linear-gradient(45deg, #EBD138, #cbb014); 

}


/* MEGAMENU*/
#megamenu .level-1 {
	background: #bca800;
}

#megamenu .level-1[aria-expanded="true"] {
	background: #897b00;
}
 
#megamenu .level-1.active {
	background: #897b00; 
}

#megamenu .level-1 > a:hover {
	background: #897b00;
}

#megamenu .sub {
	background: #897b00;
	border-bottom: 2px solid #cdb700;
}
#megamenu .sub .contains_branch ul {
	background: #bca800;
}
#megamenu .settings .contains_branch:hover,	
#megamenu .courses .sub .type_course .branch a:hover,
#megamenu .sub li p a:hover {
	background: #cdb700;
}
